.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    height: 7rem;
    padding: 1rem;
    z-index: 2;
    img {
        margin-left: 1rem;
        align-self: flex-start;
        width: 15rem;
    }
    nav {
        display: flex;
        justify-content: space-around;
        width: 80%;
        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.6rem;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}