/// GENERAL LAYOUT ///
.user-page {
    width: 80%;
    color: black;
    margin-top: 2.5rem;
    margin-left: 15rem;

    &__info {
        font-size: 2.3rem;
        margin-bottom: 5rem;
        &__name {
            color: red;
        }
        p {
            margin-top: .5rem;
            font-size: 1.5rem;
        }
    }

    &__graph {
        height: 55rem;
        display: flex;
        &__left {
            width: 80%;
            display: flex;
            flex-direction: column;
        }
        &__right {
            height: 53rem;
            width: 20%;
            display: flex;
            flex-direction: column;
        }
    }
}

/// ACTIVITY CHART ///
.user-page__graph__left__activity-chart {
    height: 55%;
    margin-bottom: 2rem;
    margin-right: 2.5%;
    background-color: #fbfbfb;
    position: relative;
    border-radius: 5px;
}

.user-page__graph__left__activity-chart__title {
    color: #000;
    position: absolute;
    top: 3rem;
    left: 4rem;
    font-size: 1.2rem;   
}

////CUSTOM TOOLTIPS FOR ACTIVITY CHARTS
.custom-tooltip-activity {
    display: flex;
    flex-direction: column;
}
.label-activity {
    text-align: center;
    padding: 1.8rem 1rem;
    color: #fff;
    font-weight: 500;
    background-color: #e60000;
}

/////ACTIVITY CHART CUSTOM LEGEND
.legend {
    position: absolute;
    bottom: 24rem;
    right: 2rem;
    display: flex;
}

.header-legend {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.circle-red {
  background: #ff0000;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 10px;
}
.circle-black {
  background: #000;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 10px;
}

///TIME CHART, RADAR CHART & SCORE CHART ///
.user-page__graph__left__bottom {
    height: 39%;
    display: flex;
    
    &__time-chart {
        position: relative;
        background-color: #ff0000;
        border-radius: 5px;
        width: 32%;
        margin: 1% 0 1% 0%;
    }
    &__time-chart__title {
        position: absolute;
        font-size: 1.5rem;
        top: 2rem;
        left: 2rem;
        color: rgba(255, 255, 255, 0.6);
    }
    &__radar-chart {
        background-color: #282D30;
        border-radius: 5px;
        width: 32%;
        margin: 1% 0 1% 1%;
    }
    &__score-chart {
        position: relative;
        background-color: #fbfbfb;
        width: 31.5%;
        border-radius: 5px;
        margin: 1% 0% 1% 1%;
    }
    &__score-chart__background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        height: 14.9rem;
        width: 14.9rem;
        border-radius: 50%;
    }
    &__score-chart__score {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
    }
    &__score-chart__text {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #282D30;
        text-align: center;
    }
}
/// SCORE CHART LABEL ///
.progress-label {
    font-weight: 500;
}
.progress-score {
    font-weight: 600;
    font-size: 1.8rem;
}
.progress-score-label {
    font-weight: 500;
    color: #fff;
}
/// CUSTOM TOOLTIPS FOR TIME CHARTS ///
.label {
    padding: .5rem;
    background-color: #fff;
}

/////KEY DATA (RIGHT SIDE) ///
.user-page__graph__right__keyData {
    background-color: #fbfbfb;
    height: 25%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:not(:last-child) {
        margin-bottom: 10%;
    }
    &__Calories {
        background-color: #fbeaea;
        width: 5.5rem;
        height: 5.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin: 0 2rem;
    }
    &__Proteines {
        background-color: #e9f4fb;
        justify-content: center;
        align-items: center;
        width: 5.5rem;
        height: 5.5rem;
        display: flex;
        border-radius: 5px;
        margin: 0 2rem;
    }
    &__Glucides {
        background-color: #fbf6e5;
        justify-content: center;
        align-items: center;
        width: 5.5rem;
        height: 5.5rem;
        display: flex;
        border-radius: 5px;
        margin: 0 2rem;
    }
    &__Lipides {
        background-color: #fbeaef;
        justify-content: center;
        align-items: center;
        width: 5.5rem;
        height: 5.5rem;
        display: flex;
        border-radius: 5px;
        margin: 0 2rem;
    }
    &__count {
        font-weight: 600;
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }
    &__name {
        font-weight: 500;
        color: rgba(40, 45, 48, 0.7);
    }
}





